/*General*/
.uppercase{
	text-transform: uppercase;
}
a.btn.btn-block{
	color:black;
}
a.btn.btn-block:hover{
	color:white;
}
.callout-black-knowlej{
	border-left-color: #1a1b20;
}
.callout-info-knowlej{
	border-left-color: #0ABDF9;
}
.di-inline{
	display: block;
}
a{
	color:#1a1b20;
}
#page a.nav-link{
	height:10px;
	line-height:5px;
}
a.selected:hover{
	color:white;
}
.already{
	border-radius: 50%;
}
li a{
	display:inline;
}
.answer label{
	display:inline-block;
	
}
.answer input{
	display:inline;
	clear:left;
}
.answer p{
	line-height:0.5px;
}
p.note{
	line-height:0.5px;
}

/*nav-pages*/
.nav-pages .nav-link.active {
	color: #000000;
	border-bottom: blue solid 2px;
}

.nav .nav-pages.nav-flexs	{
	display: flex;
}


#square {
	width: 10px;
	height: 10px;
	background: red;
	margin-top: 15px;
	margin-left:15px ;
	position: absolute;
  }


@media (max-width: 575.98px) {
	/*.col-md-1	{
		width :px;
	}*/

	.di-inline{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:space-between;
	}
	.padding{
		padding-left: 5px;
		padding-right: 5px;
	}

	#square	{
		top:15px;
		margin-top:0;
	}
	/*.col-md-11	{
		width:260px;
	}*/
}

@media (min-width : 691px)	{
	#square	{
		margin-left:0;
		left: 10px;
		background-color: blue;
	}
}